@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right  bottom;
    background-repeat: no-repeat, no-repeat;
    font-family: 'Spartan', sans-serif;
    font-size:15px;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    position:relative;
}

.primary__grid{
    display: grid;
    grid-template-rows: repeat(2,300px);
}

.primary__content{
    display: grid;
    justify-self: start;
    place-items: start;
}

.ratings{
    display: grid;
    justify-self: center;
    place-items: center;
}

.top__grid{
    display: grid;
    grid-template-columns: 725px 420px;
    column-gap: 10px;
    margin-top: 2rem;
    justify-self: center;
}

.primary__content h1{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    margin-bottom: 1rem;
}

.primary__content p{
    color: hsl(303, 10%, 53%);
}

.rating{
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 100%;
}

.rating:nth-child(2){
    left: 2rem;
}

.rating:nth-child(3){
    left: 4rem;
}

.rating p{
    margin-left: 15px;
    color: hsl(300, 43%, 22%);
    font-size: 0.8rem;
    font-weight: 700;
}

.bottom__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
    justify-self: center;
}

.user__review{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 3rem 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 10px;
    color:hsl(0, 0%, 100%);
    position: relative;
}

.user__review:nth-child(2){
    top: 2rem;
}

.user__review:nth-child(3){
    top: 4rem;
}

.user__review p{
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 400;
}

.user__details{
    display: flex;
    justify-content: left;
    align-items: center;
}

.user__details img{
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}

.info{
    font-weight: 500;
}

.verified{
    font-size: 0.7rem;
    color: hsl(333, 80%, 67%);
}

.attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  .attribution { 
    position:absolute;
    bottom: 0;
    left:0;
    width:100%;
    transform: translateY(100%);
    transition: .4s;
    padding: 20px;
    background-color: white;
    text-align: center;
  }
  .attribution:hover{
    transform: translateY(0);
  }
  .attribution:before{
    content: "";
    background: rgba(27, 27, 27, 0.2);
    width: 100%;
    height: 10px;
    position:absolute;
    bottom: 100%;
    left: 0;
  }

@media screen and (max-width: 768px) {
    body{
        background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
        background-position: left top, right  bottom;
        background-repeat: no-repeat, no-repeat;
    }

    .primary__grid{
        grid-template-rows: 1fr;
    }

    .top__grid{
        grid-template-columns: 1fr;
    }

    .ratings{
        width: 100%;
        display: flex;
        flex-flow: column;
        margin: 20px 0;
    }

    .rating{
        flex-direction: column;
    }

    .rating .stars{
        margin-bottom: 5px;
    }

    .rating:nth-child(2),
    .rating:nth-child(3){
        left: unset;
    }

    .user__review:nth-child(2),
    .user__review:nth-child(3){
        top: unset;
    }

    .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  .attribution { 
    position:relative;
    bottom: 0;
    left:0;
    width:100%;
    transform: translateY(100%);
    transition: .4s;
    padding: 20px;
    background-color: white;
    text-align: center;
  }
  .attribution:hover{
    transform: translateY(0);
  }
  .attribution:before{
    content: "";
    background: rgba(27, 27, 27, 0.2);
    width: 100%;
    height: 10px;
    position:absolute;
    bottom: 100%;
    left: 0;
  }
} 